.content.projects {
  flex-direction: column;

  .sub-title {
    margin-bottom: 50px;
  }
}
.project {
  &-header {
    width: 100%;
  }

  &-container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;

    img {
      width: 50%;
    }
  }

  &-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-info {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    &-header {
      h4 {
        margin-top: -1rem;
      }
    }

    &-created {
      width: 100%;
      .created-title {
        margin-bottom: 1rem;
      }
      .icon-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
      }
      .icon {
        svg,
        .express-icon {
          font-size: 5rem;
          height: 5rem;
        }
        span {
          display: block;
          font-weight: 300;
        }
      }
    }
  }

  &-link-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);

    p {
      font-size: 1.7rem;
      font-weight: 100;
      color: #171717;
      margin: 0 5px;
    }
    a {
      font-size: 1.7rem;
      color: #171717;
      font-weight: 500;
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    text-align: center;
  }
  .project-container {
    &:nth-child(even) {
      flex-direction: column-reverse;
    }
    flex-direction: column;
    .project-card {
      width: 100%;
    }
    .project-info > * {
      margin: 2rem 0;
    }
    .project-link-container {
      padding: 1rem 0;
    }
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .icon {
    svg,
    .express-icon {
      font-size: 3rem;
      height: 3rem;
    }
  }
}
