@import "../assets";

/*Lock header to top*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  svg {
    @include easeOut();
  }
}

#menu-fixed {
  margin-top: 20px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

/*Menu Button*/
.menu-btn {
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  transition: all 0.1s linear;
  cursor: pointer;
  .ham-menu {
    @include easeOut();
  }
  span {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    color: var(--menu-btn);
    @include easeOut();
  }
  &:hover {
    opacity: 0.5;
  }

  .menu-bars {
    .btn-line {
      width: 30px;
      height: 2px;
      margin: 0 0 6px 0;
      background: var(--menu-btn);
      @include easeOut();
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  &.show {
    span {
      color: var(--nav-text-color);
    }
    .menu-bars {
      @include easeOut();
      transform: rotate(180deg);
    }
    .btn-line {
      background: var(--nav-text-color);
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(135deg) translate(-6px, 6px);
      }
    }
  }
}

/*Navigation List Menu*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

#navigation {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  z-index: 500;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: var(--navBG-color);
  @include easeOut();
  &.show {
    right: 0;
  }

  ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  li {
    list-style: none;
    min-height: 100px;

    .nav-item {
      text-decoration: none;
      color: var(--nav-text-color);
      font-size: 4rem;
      line-height: 6rem;
      opacity: 1;
      transition: all 0.1s linear;

      &:hover {
        opacity: 0.5;
      }

      &::after {
        content: "";
        display: block;
        margin-top: -20px;
        margin-bottom: 20px;
        width: 0;
        height: 3px;
        background: var(--nav-text-color);
        transition: all 300ms ease;
      }
      &:hover::after {
        opacity: 0.5;
        width: 100%;
      }
    }
  }
}

/*Dark mode toggle*/
#theme-switch {
  display: inline-flex;
  align-items: center;
  #light,
  #dark {
    font-size: 2rem;
    color: #f2f2f280;
    cursor: pointer;

    &.active {
      color: #f2f2f2;
    }
  }
}
.toggle {
  width: 70px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 0 1.5rem;

  input {
    display: none;

    &:checked + .slider {
      &:before {
        transform: translateX(30px);
      }
    }
  }

  .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.2s;
    background-color: var(--bg-color);

    &.round {
      border-radius: 40px;
      &:before {
        border-radius: 50%;
      }
    }

    &:before {
      background-color: #4480a6;
      content: "";
      bottom: 5px;
      height: 30px;
      left: 5px;
      position: absolute;
      transition: 0.2s;
      width: 30px;
    }
  }
}

/*Mobile Menu*/
@media screen and (max-width: 980px) {
  #navigation {
    width: 100%;
  }
}
